<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="10" status="WARN">

    <Properties>
        <!-- 日志最大的历史 -->
        <property name="MAX_HISTORY" value="30"/>
        <!-- 组件名称 -->
        <property name="MODULE_NAME" value="when"/>
        <!-- 日志文件目录 -->
        <property name="DIR" value="logs"/>
        <!-- 日志文件大小上限 -->
        <property name="MAX_FILE_SIZE" value="100MB"/>
        <!-- 目录可以生成最大文件个数，默认为7 -->
        <Property name="MAX_LOG_FILE_COUNT">10000</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <Filters>
                <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） -->
                <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %thread : %msg%n"/>
        </Console>

        <!-- error级别单独记录 -->
        <!--filePattern表示出发rollover，生成新的日志文件时，旧的日志文件改名的格式-->
        <RollingFile name="errorAppender" fileName="${DIR}/${MODULE_NAME}-error.log"
                     filePattern="${DIR}/${MODULE_NAME}-error/${MODULE_NAME}-error-%d{yyyy-MM-dd}.%i.log.gz">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %thread : %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <!-- 以day为单位自动回滚 -->
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <!--当文件大小到达100M时-->
                <SizeBasedTriggeringPolicy size="${MAX_FILE_SIZE}"/>
            </Policies>
            <DefaultRolloverStrategy max="${MAX_LOG_FILE_COUNT}">
                <Delete basePath="${DIR}/${MODULE_NAME}-error" maxDepth="2">
                    <!--glob参数需要查询是否能够匹配到日志文件，不然无法删除，一般如果有子文件夹需要为*/*.log.gz-->
                    <IfFileName glob="*.log.gz"/>
                    <!--!Note: 这里的age必须和filePattern协调, 后者是精确到dd, 这里就要写成xd, xD就不起作用
                    另外, 数字最好>2, 否则可能造成删除的时候, 最近的文件还处于被占用状态,导致删除不成功!-->
                    <!--7天-->
                    <IfLastModified age="${MAX_HISTORY}d"/>
                </Delete>
            </DefaultRolloverStrategy>
            <!--添加过滤器ThresholdFilter,可以有选择的输出某个级别以上的类别  onMatch="ACCEPT" onMismatch="DENY"意思是匹配就接受,否则直接拒绝  -->
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
        </RollingFile>

        <!-- warn级别单独记录 -->
        <!--filePattern表示出发rollover，生成新的日志文件时，旧的日志文件改名的格式-->
        <RollingFile name="warnAppender" fileName="${DIR}/${MODULE_NAME}-warn.log"
                     filePattern="${DIR}/${MODULE_NAME}-warn/${MODULE_NAME}-warn-%d{yyyy-MM-dd}.%i.log.gz">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-4level %logger{36} - %thread : %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <!-- 以day为单位自动回滚 -->
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <!--当文件大小到达100M时-->
                <SizeBasedTriggeringPolicy size="${MAX_FILE_SIZE}"/>
            </Policies>
            <DefaultRolloverStrategy max="${MAX_LOG_FILE_COUNT}">
                <Delete basePath="${DIR}/${MODULE_NAME}-warn" maxDepth="2">
                    <IfFileName glob="*.log.gz"/>
                    <!--!Note: 这里的age必须和filePattern协调, 后者是精确到dd, 这里就要写成xd, xD就不起作用
                    另外, 数字最好>2, 否则可能造成删除的时候, 最近的文件还处于被占用状态,导致删除不成功!-->
                    <!--7天-->
                    <IfLastModified age="${MAX_HISTORY}d"/>
                </Delete>
            </DefaultRolloverStrategy>
            <!--添加过滤器ThresholdFilter,可以有选择的输出某个级别以上的类别  onMatch="ACCEPT" onMismatch="DENY"意思是匹配就接受,否则直接拒绝  -->
            <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
        </RollingFile>

        <!--info级别单独记录-->
        <RollingFile name="infoAppender" fileName="${DIR}/${MODULE_NAME}-info.log"
                     filePattern="${DIR}/${MODULE_NAME}-info/${MODULE_NAME}-%d{yyyy-MM-dd}.%i.log.gz">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-4level %logger{36} - %thread : %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <!-- 以day为单位自动回滚 -->
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <!--当文件大小到达100M时-->
                <SizeBasedTriggeringPolicy size="${MAX_FILE_SIZE}"/>
            </Policies>
            <DefaultRolloverStrategy max="${MAX_LOG_FILE_COUNT}">
                <Delete basePath="${DIR}/${MODULE_NAME}-info" maxDepth="2">
                    <IfFileName glob="*.log.gz"/>
                    <!--!Note: 这里的age必须和filePattern协调, 后者是精确到dd, 这里就要写成xd, xD就不起作用
                    另外, 数字最好>2, 否则可能造成删除的时候, 最近的文件还处于被占用状态,导致删除不成功!-->
                    <!--7天-->
                    <IfLastModified age="${MAX_HISTORY}d"/>
                </Delete>
            </DefaultRolloverStrategy>
            <!--添加过滤器ThresholdFilter,可以有选择的输出某个级别以上的类别  onMatch="ACCEPT" onMismatch="DENY"意思是匹配就接受,否则直接拒绝  -->
            <!--<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>-->
        </RollingFile>

        <Async name="ASYNCSTDOUT" bufferSize="512" blocking="false">
            <AppenderRef ref="Console"/>
        </Async>

        <Async name="ASYNCerrorAppender" bufferSize="512" blocking="false">
            <AppenderRef ref="errorAppender"/>
        </Async>

        <Async name="ASYNCwarnAppender" bufferSize="512" blocking="false">
            <AppenderRef ref="warnAppender"/>
        </Async>

        <Async name="ASYNCinfoAppender" bufferSize="512" blocking="false">
            <AppenderRef ref="infoAppender"/>
        </Async>
    </Appenders>

    <loggers>
        <!-- 根，所有logger的祖先 -->
        <root level="INFO" includeLocation="false">
            <AppenderRef ref="ASYNCSTDOUT"/>
            <AppenderRef ref="ASYNCerrorAppender"/>
            <AppenderRef ref="ASYNCwarnAppender"/>
            <AppenderRef ref="ASYNCinfoAppender"/>
        </root>
    </loggers>
</Configuration>
